@import "variables";
@import "mixins";

main {
  @include border-shadow-radius;
  min-height: 95vh;
  padding: $default-padding;
  margin: $default-margin;
  background-color: $color-white-background;

  h1 {
    margin-bottom: $default-margin;
  }

  h3 {
    margin-top: $default-margin;
  }

  .course-container {
    background-color: $color-hover-background;
    padding: $default-padding;
    margin-bottom: $default-margin;
    border-radius: 10px;
    position: relative;

    .course-status {
      color: red;
      font-weight: bold;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      font-size: 2em;
    }

    .age {
      margin-bottom: $default-margin;
      font-style: italic;
    }

    .price {
      font-weight: 700;
    }

    .old-price {
      text-decoration: line-through;
    }

    button {
      background-color: $color-primary;
      border: none;
      padding: 8px;
      margin-top: $default-margin;
      border-radius: 10px;
      color: white;
      cursor: pointer;

      &:disabled {
        background-color: lighten($color-primary, 30%);
        cursor: not-allowed;
      }
    }
  }
}
