<main>
  <h1>Groupes</h1>
  @if (courses.length > 0) {
  <div class="course-container" *ngFor="let course of courses">
    <div class="course-status" *ngIf="course.remainingSlots === 0">COMPLET</div>
    <h2>
      {{ course.program.name | titlecase }}
    </h2>
    @if (course.minAge === course.maxAge) {
    <p class="age">Enfants nés en {{ currentYear - course.maxAge }}</p>
    } @else {
    <p class="age">
      Enfants nés entre {{ currentYear - course.maxAge }} et
      {{ currentYear - course.minAge }}
    </p>
    }

    <p>{{ course.program.description }}</p>
    @if (course.trainingSlots.length > 1) {
    <h3><i class="fa-light fa-calendar-days"></i> Entrainements</h3>
    } @else if (course.trainingSlots.length === 1) {
    <h3>Entrainement</h3>
    }
    <ul>
      <li *ngFor="let trainingSlot of course.trainingSlots">
        {{ trainingSlot.day | titlecase }} de
        {{ trainingSlot.startTime | slice : 0 : 5 }} à
        {{ trainingSlot.endTime | slice : 0 : 5 }}
      </li>
    </ul>

    <h3>Places disponibles</h3>

    @if (course.remainingSlots === 1) {
    <p>
      <i class="fa-solid fa-hexagon-exclamation" style="color: red"></i> Il ne
      reste plus que {{ course.remainingSlots }} place disponible sur
      {{ course.maxMembers }}
    </p>
    } @else if (course.remainingSlots === 0) {
    <p>
      <i class="fa-solid fa-circle-info" style="color: grey"></i>
      Il ne reste plus de place disponible pour ce cours.
    </p>
    } @else if (course.remainingSlots <= 3) {
    <p>
      <i class="fa-solid fa-circle-info" style="color: orange"></i>
      Il ne reste plus que {{ course.remainingSlots }} places disponibles sur
      {{ course.maxMembers }}
    </p>
    } @else {
    <p>
      <i class="fa-solid fa-circle-info" style="color: green"></i>
      {{ course.remainingSlots }} places disponibles sur {{ course.maxMembers }}
    </p>
    } @if (discount > 0) {
    <h3>
      <span class="old-price">{{ course.price }} €</span>
      {{ course.price - discount }} €
    </h3>
    <div>
      Une réduction de {{ discount }} euros a été automatiquement appliquée pour
      cette {{ membersRegisteredThisSeason }}ème adhésion cette saison dans la
      cadre d'une fratrie.
    </div>
    } @else {
    <h3>{{ course.price }} €</h3>
    }
    <button
      (click)="openConfirmationDialog(course)"
      [disabled]="course.remainingSlots === 0"
    >
      Choisir ce cours
    </button>
  </div>
  } @else {
  <div class="course-container">Aucun cours n'est disponible à ce jour</div>
  }
  <div *ngIf="isModalOpen">
    <div class="modal-backdrop" (click)="onClose()"></div>
    <div class="modal">
      <div class="modal-header">
        <h2>Attention</h2>
        <button class="close-button" (click)="onClose()">×</button>
      </div>
      <div class="modal-body">
        <p>Vous êtes sur le point de choisir le cours :</p>
        <div class="margin">
          <p class="bold">{{ selectedCourse.program.name }}</p>
          <ul>
            <li
              *ngFor="let trainingSlot of selectedCourse.trainingSlots"
              class="bold"
            >
              {{ trainingSlot.day | titlecase }} de
              {{ trainingSlot.startTime | slice : 0 : 5 }} à
              {{ trainingSlot.endTime | slice : 0 : 5 }}
            </li>
          </ul>
          <p class="bold">
            au prix de {{ selectedCourse.price - discount }} euros
          </p>
        </div>

        <p>Voulez-vous vraiment choisir ce cours ?</p>
        <p class="warning bold">
          Aucun changement ne pourra être effectué sans l'intervention de
          l'administrateur
        </p>
      </div>
      <div class="modal-footer">
        <button class="modal-button cancel-button" (click)="onClose()">
          Annuler
        </button>
        <button
          class="modal-button"
          (click)="onConfirm(selectedCourse.id, selectedCourse.price)"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</main>
