<main>
  <div class="header">
    <div class="back-arrow" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
    </div>
    <h1>Créer un nouveau programme</h1>
  </div>
  <form [formGroup]="programForm" (ngSubmit)="submitForm()">
    <fieldset>
      <label for="name">Nom</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        minlength="2"
        maxlength="100"
      />
      <div
        *ngIf="
          programForm.get('name')?.invalid && programForm.get('name')?.touched
        "
      >
        <small *ngIf="programForm.get('name')?.errors?.['required']"
          >Le nom du programme est requis.</small
        >
        <small *ngIf="programForm.get('name')?.errors?.['minlength']"
          >Le nom du programme doit contenir au moins 2 caractères.</small
        >
        <small *ngIf="programForm.get('name')?.errors?.['maxlength']"
          >Le nom du programme ne doit pas dépasser 100 caractères.</small
        >
      </div>
    </fieldset>

    <fieldset>
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        minlength="3"
        maxlength="255"
        (input)="updateCharacterCount()"
      ></textarea>
      <div class="char-counter">{{ charCount }} caractères restants</div>
      <div
        *ngIf="
          programForm.get('description')?.invalid &&
          programForm.get('description')?.touched
        "
      >
        <small *ngIf="programForm.get('description')?.errors?.['required']"
          >La description est requise.</small
        >
        <small *ngIf="programForm.get('description')?.errors?.['minlength']"
          >La description doit contenir au moins 3 caractères.</small
        >
        <small *ngIf="programForm.get('description')?.errors?.['maxlength']"
          >La description ne doit pas dépasser 255 caractères.</small
        >
      </div>
    </fieldset>
    <fieldset class="switch-container">
      <label for="competition-switch">Groupe compétition ?</label>
      <p-inputSwitch
        id="competition-switch"
        formControlName="includingCompetition"
      ></p-inputSwitch>
    </fieldset>

    <button type="submit" [disabled]="programForm.invalid">
      Créer le programme
    </button>
  </form>
</main>
