<main>
  <h1>Liste des utilisateurs</h1>
  <div class="toolbar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterUsers()"
      placeholder="Rechercher par nom"
    />
  </div>

  <table class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Inscrit le</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of filteredUsers"
        (click)="navigateToUserPage(user.id)"
        class="user-row"
      >
        <td>{{ user.id }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
      </tr>
    </tbody>
  </table>
</main>
