<main>
  <div class="form-container">
    <h1>Bienvenue sur votre plateforme Meyzieu Gym&nbsp;!</h1>
    <h2>Réinitialiser mon mot de passe</h2>
    <p>Veuillez saisir votre nouveau mot de passe</p>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPasswordStatus.valid && resetPassword()"
      #resetPasswordStatus="ngForm"
    >
      <fieldset formGroupName="passwords">
        <label for="password"
          >Mot de passe
          <span class="info-password"
            >(doit contenir au moins 8 caractères dont une majuscule, une
            minuscule, un chiffre et un symbole)</span
          ></label
        >
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            placeholder="Mot de passe"
            autocomplete="new-password"
          />
          <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            style="color: #b2b2b2"
            (click)="toggleShowPassword()"
          ></i>
        </div>
        <div class="password-strength-bar">
          <div
            [ngClass]="passwordStrengthClass"
            [style.width.%]="passwordStrengthPercent"
          ></div>
        </div>
        <div *ngIf="passwordMessage">{{ passwordMessage }}</div>
        <div
          *ngIf="
            resetPasswordForm.get('passwords.password')?.invalid &&
            resetPasswordForm.get('passwords.password')?.touched
          "
        >
          <small
            *ngIf="resetPasswordForm.get('passwords.password')?.errors?.['required']"
            >Le mot de passe est requis.</small
          >
          <small
            *ngIf="resetPasswordForm.get('passwords.password')?.errors?.['passwordFormat']"
            >Le mot de passe doit contenir au moins 8 caractères.</small
          >
        </div>

        <label for="confirmPassword">Confirmation du mot de passe</label>
        <div class="password-container">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirmation du mot de passe"
          />
          <i
            class="fa"
            [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
            style="color: #b2b2b2"
            (click)="toggleShowConfirmPassword()"
          ></i>
        </div>
        <div
          *ngIf="resetPasswordForm.get('passwords')?.errors?.['notEqual'] && resetPasswordForm.get('passwords.confirmPassword')?.touched"
        >
          <small>Les mots de passe ne correspondent pas.</small>
        </div>
      </fieldset>

      <button type="submit">Réinitialiser mon mot de passe</button>
    </form>
  </div>
</main>
