<main>
  <div class="form-container">
    <h1>Bienvenue sur votre plateforme Meyzieu Gym&nbsp;!</h1>
    <h2>Mot de passe oublié</h2>
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="forgotPasswordFormStatus.valid && onSubmit()"
      #forgotPasswordFormStatus="ngForm"
    >
      <fieldset>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          autocomplete="email"
        />
        <div
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.touched
          "
        >
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
            >L'email est requis.</small
          >
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
            >L'email n'est pas au bon format.</small
          >
        </div>
      </fieldset>
      <p>
        Vous recevrez dans quelques instants par E‑mail le lien qui vous
        permettra de créer votre nouveau mot de passe facilement et en toute
        sécurité.
      </p>
      <button>Je valide</button>
    </form>
  </div>
</main>
