<main>
  <div class="confirmation-container">
    <h1>Mot de passe oublié</h1>
    <div class="main-container">
      <i
        class="fa-solid fa-message-exclamation fa-2xl"
        style="color: #ea33f7"
      ></i>

      <p>Si un compte est lié à l’adresse indiquée, vous recevrez un e-mail.</p>
      <p>
        <span class="bold"
          >Cliquez sur le lien dans l’e-mail reçu pour créer un nouveau mot de
          passe.</span
        >
      </p>
      <p class="italic">
        L’e-mail peut mettre plusieurs minutes à vous parvenir. Pensez également
        à vérifier vos spams.
      </p>
    </div>
  </div>
</main>
