<nav class="burger-nav">
  <div class="closed-menu-container">
    <div class="welcome-container">
      <img src="assets/icons/logo.jpg" alt="logo" />
      <span>Bonjour&nbsp;!</span>
    </div>
    <div class="burger-button" (click)="toggleMenu()">
      <i [class]="isMenuOpen ? 'fa-solid fa-times' : 'fa-solid fa-bars'"></i>
    </div>
  </div>

  <div class="side-nav" [class.open]="isMenuOpen">
    @for (category of [1, 2, 3]; track $index) {
      <ul>
        @for (navItem of navItems; track $index) {
          @if (navItem.category === category) {
            <app-nav-item [navItem]="navItem" (dataEmitFromChild)="dataReceiveFromChild($event)"></app-nav-item>
          } 
        }
      </ul>
    }
    <div class="burger-button" (click)="toggleMenu()">
      <i class="fa-sharp fa-solid fa-circle-xmark fa-xl"></i>
    </div>
  </div>
</nav>
