@import "variables";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mobile-menu {
  display: block;
}

.desktop-menu {
  display: none;
}

.main-content {
  overflow: auto;
  flex-grow: 1;
  margin-bottom: 60px;
  box-sizing: border-box;

  @media (min-width: 769px) {
    margin-left: 270px;
    margin-bottom: 0;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }
}
