<main>
  <h1>Actualités du club</h1>
  <article class="article-container">
    <h2>Planning de la saison 2024/2025</h2>
    <p>
      La saison 2024-2025 est en préparation, le planning est en construction et
      nous pourrons donner des informations aux alentours du 20 juin 2024 !
    </p>
    <p>
      Nous avons prévu une séance découverte pour les enfants nés en
      2021-2020-2019 le lundi 1er juillet de 17h30 à 18h15. Lien d'inscription à
      venir.
    </p>
    <p>
      Pour les autres tranches d'âge, une séance découverte sera organisée en
      septembre si nous pouvons ouvrir des nouveaux groupes. Inscription des
      anciens gymnastes le 21 juin, vous recevrez un mail explicatif.
      Inscription des nouveaux gymnastes le mercredi 3 juillet à 13h. Le lien
      sera ici.
    </p>
  </article>
  <article class="article-container">
    <h2>Changement de date</h2>
    <p>
      En raisons des élections prévues les 30 juin et 7 juillet, nous sommes
      dans l'obligation de modifier la date du prochaine Gala.
    </p>
    <p>Le gala se tiendra le 22 juin 2024 au gymnase du Carreau</p>
  </article>
  <article class="article-container">
    <h2>Evènement du club</h2>
    <p>Le gala approche, pensez à vous inscrire !</p>
    <div class="img-container">
      <img
        src="https://meyzieugym.e-monsite.com/medias/images/img-20240528-wa0000.jpg"
        alt="affiche du gala"
      />
    </div>
  </article>
</main>
