<main class="members-container">
  <h1>Je souhaite inscrire</h1>
  <div class="members-list">
    <div *ngFor="let member of members" class="member-card">
      <img [src]="member.photoUrl" alt="{{ member.firstname }} {{ member.lastname }}">
      <div class="member-info">
        <h2>{{ member.firstname }} {{ member.lastname }}</h2>
        <p>Groupe {{ member.group }}</p>
        <p>Saison {{ member.season }}</p>
      </div>
    </div>
  </div>
  <button class="add-member-button" (click)="addNewMember()">
    <i class="fa-light fa-user-plus"></i> Inscrire un nouvel adhérent
  </button>
</main>
