<main>
  <div class="form-container">
    <h1>Modifier mon Profil</h1>
    <form
      [formGroup]="editProfileForm"
      (ngSubmit)="onSubmit()"
      #editProfileStatus="ngForm"
    >
      <fieldset>
        <label for="lastname">Nom</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          formControlName="lastname"
          placeholder="Nom"
          autocomplete="family-name"
          readonly
        />
        <div
          *ngIf="
            editProfileForm.get('lastname')?.invalid &&
            editProfileForm.get('lastname')?.touched
          "
        >
          <small *ngIf="editProfileForm.get('lastname')?.errors?.['required']"
            >Le nom est requis.</small
          >
          <small *ngIf="editProfileForm.get('lastname')?.errors?.['minlength']"
            >Le nom doit contenir au moins 2 caractères.</small
          >
          <small *ngIf="editProfileForm.get('lastname')?.errors?.['pattern']"
            >Le nom ne peut contenir que des lettres, des tirets et des
            espaces.</small
          >
        </div>
      </fieldset>
      <fieldset>
        <label for="firstname">Prénom</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          formControlName="firstname"
          placeholder="Prénom"
          autocomplete="given-name"
          readonly
        />
        <div
          *ngIf="
            editProfileForm.get('firstname')?.invalid &&
            editProfileForm.get('firstname')?.touched
          "
        >
          <small *ngIf="editProfileForm.get('firstname')?.errors?.['required']"
            >Le prénom est requis.</small
          >
          <small *ngIf="editProfileForm.get('firstname')?.errors?.['minlength']"
            >Le prénom doit contenir au moins 2 caractères.</small
          >
          <small *ngIf="editProfileForm.get('firstname')?.errors?.['pattern']"
            >Le prénom ne peut contenir que des lettres, des tirets et des
            espaces.</small
          >
        </div>
      </fieldset>
      <fieldset>
        <label for="occupation">Profession</label>
        <input
          type="text"
          name="occupation"
          id="occupation"
          formControlName="occupation"
          placeholder="Profession"
        />
        <div
          *ngIf="
            editProfileForm.get('occupation')?.invalid &&
            editProfileForm.get('occupation')?.touched
          "
        >
          <small *ngIf="editProfileForm.get('occupation')?.errors?.['required']"
            >La profession est requise.</small
          >
          <small
            *ngIf="editProfileForm.get('occupation')?.errors?.['minlength']"
            >La profession doit contenir au moins 2 caractères.</small
          >
        </div>
      </fieldset>
      <fieldset>
        <label for="phoneNumber">Téléphone</label>
        <input
          id="phoneNumber"
          formControlName="phoneNumber"
          type="text"
          autocomplete="tel"
        />
        <div
          *ngIf="
            editProfileForm.get('phoneNumber')?.invalid &&
            editProfileForm.get('phoneNumber')?.touched
          "
        >
          <small
            *ngIf="editProfileForm.get('phoneNumber')?.errors?.['required']"
            >Le téléphone est requis.</small
          >
          <small
            *ngIf="editProfileForm.get('phoneNumber')?.errors?.['phoneFormat']"
            >Numéro de téléphone invalide.</small
          >
        </div>
      </fieldset>
      <fieldset>
        <label for="address">Adresse</label>
        <input
          id="address"
          formControlName="address"
          type="text"
          placeholder="Adresse"
          autocomplete="street-address"
        />
        <div
          *ngIf="
            editProfileForm.get('address')?.invalid &&
            editProfileForm.get('address')?.touched
          "
        >
          <small *ngIf="editProfileForm.get('address')?.errors?.['required']">
            L'adresse est requise.
          </small>
          <small *ngIf="editProfileForm.get('address')?.errors?.['minlength']">
            L'adresse doit contenir au moins 5 caractères.
          </small>
        </div>
      </fieldset>

      <fieldset>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          autocomplete="email"
          readonly
        />
        <div
          *ngIf="
            editProfileForm.get('email')?.invalid &&
            editProfileForm.get('email')?.touched
          "
        >
          <small *ngIf="editProfileForm.get('email')?.errors?.['required']"
            >L'email est requis.</small
          >
          <small *ngIf="editProfileForm.get('email')?.errors?.['email']"
            >L'email n'est pas au bon format.</small
          >
        </div>
      </fieldset>
      <div class="buttons-container">
        <button class="back-button" (click)="goBack()">Annuler</button>
        <button type="submit">Valider les modifications</button>
      </div>
    </form>
  </div>
</main>
