<main>
  <h1>Liste des cours</h1>
  <div class="toolbar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterCourses()"
      placeholder="Rechercher par nom"
    />
    <button (click)="addCourse()" class="add-button">+</button>
  </div>

  <table class="courses-table">
    <thead>
      <tr>
        <th>Nom du cours</th>

        <th>Jours d'entrainement</th>
        <th>Saison</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let course of filteredCourses"
        (click)="editCourse(course.id)"
        class="course-row"
      >
        <td>{{ course.program.name }}</td>

        <td>
          <ul>
            <li *ngFor="let slot of course.trainingSlots">
              {{ slot.day }} de {{ slot.startTime | slice : 0 : 5 }} à
              {{ slot.endTime | slice : 0 : 5 }}
            </li>
          </ul>
        </td>

        <td>
          {{ course.season.startDate | date : "yyyy" }} /
          {{ course.season.endDate | date : "yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>
</main>
