<main>
  <h1>Liste des cours</h1>
  <div class="toolbar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterCourses()"
      placeholder="Rechercher par nom"
    />
    <button (click)="addCourse()" class="add-button">+</button>
  </div>

  <table class="courses-table">
    <thead>
      <tr>
        <th class="fixed-col">Nom du cours</th>
        <th>Année de naissance</th>
        <th>Jours d'entrainement</th>
        <th>Places restantes</th>
        <th>Saison</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let course of filteredCourses"
        (click)="editCourse(course.id)"
        class="course-row"
      >
        <td class="fixed-col">
          {{ course.courseName ? course.courseName : "pas de nom de cours" }}
        </td>

        @if ( course.minAge === course.maxAge ) {
          <td>{{ currentYear - course.minAge }}</td>
        } @else {
          <td>{{ currentYear - course.maxAge }} à {{ currentYear - course.minAge }}</td>
        }


        <td>
          <ul>
            <li *ngFor="let slot of course.trainingSlots">
              {{ slot.day }} de {{ slot.startTime | slice : 0 : 5 }} à
              {{ slot.endTime | slice : 0 : 5 }}
            </li>
          </ul>
        </td>
        @if (course.remainingSlots === 0) {
        <td>Complet</td>
        } @else {
        <td>{{ course.remainingSlots }}</td>
        }

        <td>
          {{ course.season.startDate | date : "yyyy" }} /
          {{ course.season.endDate | date : "yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>
</main>
