<main>
  <div class="header">
    <div class="back-arrow" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
    </div>
    <h1>Créer une nouvelle saison</h1>
  </div>
  <form [formGroup]="seasonForm" (ngSubmit)="submitForm()">
    <fieldset>
      <label for="startDate">Date de début</label>
      <input type="date" id="startDate" formControlName="startDate" />
      <div
        *ngIf="
          seasonForm.get('startDate')?.invalid &&
          seasonForm.get('startDate')?.touched
        "
      >
        <small *ngIf="seasonForm.get('startDate')?.errors?.['required']"
          >La date de début est requise.</small
        >
      </div>
    </fieldset>

    <fieldset>
      <label for="endDate">Date de fin</label>
      <input type="date" id="endDate" formControlName="endDate" />
      <div
        *ngIf="
          seasonForm.get('endDate')?.invalid &&
          seasonForm.get('endDate')?.touched
        "
      >
        <small *ngIf="seasonForm.get('endDate')?.errors?.['required']"
          >La date de fin est requise.</small
        >
      </div>
    </fieldset>

    <button type="submit" [disabled]="seasonForm.invalid">
      Créer la saison
    </button>
  </form>
</main>
